.mask-group-2 {
    height: 520px;
    left: 78px;
    position: absolute;
    top: 1066px;
    width: 699px;
}

.text-wrapper-18 {
    color: #ff4d4d;
    font-family: var(--h5-font-family);
    font-size: var(--h5-font-size);
    font-style: var(--h5-font-style);
    font-weight: var(--h5-font-weight);
    left: 808px;
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    position: absolute;
    top: 1033px;
}

.frame-34 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 28px;
    left: 804px;
    position: absolute;
    top: 1084px;
}

.text-wrapper-34 {
    color: #000000;
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
    font-style: var(--h2-font-style);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    margin-top: -1px;
    position: relative;
    width: 564px;
}

.text-wrapper-35 {
    color: #4c4c4c;
    font-family: var(--TS-m-font-family);
    font-size: var(--TS-m-font-size);
    font-style: var(--TS-m-font-style);
    font-weight: var(--TS-m-font-weight);
    letter-spacing: var(--TS-m-letter-spacing);
    line-height: var(--TS-m-line-height);
    position: relative;
    width: 556px;
}
