.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0;
}

.left-\[1000px\] {
  left: 1000px;
}

.left-\[1132px\] {
  left: 1132px;
}

.left-\[1203px\] {
  left: 1203px;
}

.left-\[1218px\] {
  left: 1218px;
}

.left-\[1225px\] {
  left: 1225px;
}

.left-\[1253px\] {
  left: 1253px;
}

.left-\[135px\] {
  left: 135px;
}

.left-\[13px\] {
  left: 13px;
}

.left-\[14px\] {
  left: 14px;
}

.left-\[15px\] {
  left: 15px;
}

.left-\[16px\] {
  left: 16px;
}

.left-\[177px\] {
  left: 177px;
}

.left-\[182px\] {
  left: 182px;
}

.left-\[19px\] {
  left: 19px;
}

.left-\[21px\] {
  left: 21px;
}

.left-\[22px\] {
  left: 22px;
}

.left-\[336px\] {
  left: 336px;
}

.left-\[38px\] {
  left: 38px;
}

.left-\[3px\] {
  left: 3px;
}

.left-\[406px\] {
  left: 406px;
}

.left-\[40px\] {
  left: 40px;
}

.left-\[44px\] {
  left: 44px;
}

.left-\[460px\] {
  left: 460px;
}

.left-\[571px\] {
  left: 571px;
}

.left-\[57px\] {
  left: 57px;
}

.left-\[603px\] {
  left: 603px;
}

.left-\[60px\] {
  left: 60px;
}

.left-\[627px\] {
  left: 627px;
}

.left-\[628px\] {
  left: 628px;
}

.left-\[64px\] {
  left: 64px;
}

.left-\[70px\] {
  left: 70px;
}

.left-\[714px\] {
  left: 714px;
}

.left-\[719px\] {
  left: 719px;
}

.left-\[720px\] {
  left: 720px;
}

.left-\[78px\] {
  left: 78px;
}

.left-\[7px\] {
  left: 7px;
}

.left-\[804px\] {
  left: 804px;
}

.left-\[808px\] {
  left: 808px;
}

.left-\[84px\] {
  left: 84px;
}

.left-\[87px\] {
  left: 87px;
}

.left-\[95px\] {
  left: 95px;
}

.left-\[967px\] {
  left: 967px;
}

.left-\[98px\] {
  left: 98px;
}

.top-0 {
  top: 0;
}

.top-\[1033px\] {
  top: 1033px;
}

.top-\[104px\] {
  top: 104px;
}

.top-\[1066px\] {
  top: 1066px;
}

.top-\[107px\] {
  top: 107px;
}

.top-\[1084px\] {
  top: 1084px;
}

.top-\[108px\] {
  top: 108px;
}

.top-\[110px\] {
  top: 110px;
}

.top-\[125px\] {
  top: 125px;
}

.top-\[126px\] {
  top: 126px;
}

.top-\[13px\] {
  top: 13px;
}

.top-\[15px\] {
  top: 15px;
}

.top-\[1685px\] {
  top: 1685px;
}

.top-\[16px\] {
  top: 16px;
}

.top-\[170px\] {
  top: 170px;
}

.top-\[174px\] {
  top: 174px;
}

.top-\[1840px\] {
  top: 1840px;
}

.top-\[19px\] {
  top: 19px;
}

.top-\[23px\] {
  top: 23px;
}

.top-\[244px\] {
  top: 244px;
}

.top-\[2477px\] {
  top: 2477px;
}

.top-\[2542px\] {
  top: 2542px;
}

.top-\[30px\] {
  top: 30px;
}

.top-\[3157px\] {
  top: 3157px;
}

.top-\[35px\] {
  top: 35px;
}

.top-\[3677px\] {
  top: 3677px;
}

.top-\[37px\] {
  top: 37px;
}

.top-\[3px\] {
  top: 3px;
}

.top-\[4117px\] {
  top: 4117px;
}

.top-\[4216px\] {
  top: 4216px;
}

.top-\[443px\] {
  top: 443px;
}

.top-\[44px\] {
  top: 44px;
}

.top-\[45px\] {
  top: 45px;
}

.top-\[47px\] {
  top: 47px;
}

.top-\[68px\] {
  top: 68px;
}

.top-\[6px\] {
  top: 6px;
}

.top-\[742px\] {
  top: 742px;
}

.top-\[76px\] {
  top: 76px;
}

.top-\[7px\] {
  top: 7px;
}

.top-\[80px\] {
  top: 80px;
}

.top-\[99px\] {
  top: 99px;
}

.mb-\[-1\.28px\] {
  margin-bottom: -1.28px;
}

.mb-\[-8\.00px\] {
  margin-bottom: -8px;
}

.ml-\[-1\.12px\] {
  margin-left: -1.12px;
}

.ml-\[-4\.00px\] {
  margin-left: -4px;
}

.mr-\[-11\.00px\] {
  margin-right: -11px;
}

.mr-\[-4\.00px\] {
  margin-right: -4px;
}

.mt-\[-1\.00px\] {
  margin-top: -1px;
}

.mt-\[-1\.28px\] {
  margin-top: -1.28px;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.h-\[108px\] {
  height: 108px;
}

.h-\[109\.46px\] {
  height: 109.46px;
}

.h-\[119px\] {
  height: 119px;
}

.h-\[13\.35px\] {
  height: 13.35px;
}

.h-\[13px\] {
  height: 13px;
}

.h-\[140\.15px\] {
  height: 140.15px;
}

.h-\[145px\] {
  height: 145px;
}

.h-\[212px\] {
  height: 212px;
}

.h-\[229px\] {
  height: 229px;
}

.h-\[22px\] {
  height: 22px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[339px\] {
  height: 339px;
}

.h-\[348px\] {
  height: 348px;
}

.h-\[352px\] {
  height: 352px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[39px\] {
  height: 39px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[4554px\] {
  height: 4554px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[50\.56px\] {
  height: 50.56px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[51\.35px\] {
  height: 51.35px;
}

.h-\[520px\] {
  height: 520px;
}

.h-\[522px\] {
  height: 522px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[544px\] {
  height: 544px;
}

.h-\[547px\] {
  height: 547px;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[581px\] {
  height: 581px;
}

.h-\[59px\] {
  height: 59px;
}

.h-\[62\.08px\] {
  height: 62.08px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[72px\] {
  height: 72px;
}

.h-\[77px\] {
  height: 77px;
}

.h-\[9\.67px\] {
  height: 9.67px;
}

.h-\[94px\] {
  height: 94px;
}

.h-\[9px\] {
  height: 9px;
}

.h-px {
  height: 1px;
}

.w-\[1170px\] {
  width: 1170px;
}

.w-\[1219px\] {
  width: 1219px;
}

.w-\[127px\] {
  width: 127px;
}

.w-\[13\.17px\] {
  width: 13.17px;
}

.w-\[1320px\] {
  width: 1320px;
}

.w-\[1323px\] {
  width: 1323px;
}

.w-\[1362px\] {
  width: 1362px;
}

.w-\[1439px\] {
  width: 1439px;
}

.w-\[1440px\] {
  width: 1440px;
}

.w-\[151px\] {
  width: 151px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[166px\] {
  width: 166px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[183\.38px\] {
  width: 183.38px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[192px\] {
  width: 192px;
}

.w-\[240\.62px\] {
  width: 240.62px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[243px\] {
  width: 243px;
}

.w-\[251px\] {
  width: 251px;
}

.w-\[253px\] {
  width: 253px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[262px\] {
  width: 262px;
}

.w-\[267px\] {
  width: 267px;
}

.w-\[275px\] {
  width: 275px;
}

.w-\[282px\] {
  width: 282px;
}

.w-\[294px\] {
  width: 294px;
}

.w-\[2px\] {
  width: 2px;
}

.w-\[308px\] {
  width: 308px;
}

.w-\[31\.23px\] {
  width: 31.23px;
}

.w-\[319px\] {
  width: 319px;
}

.w-\[327px\] {
  width: 327px;
}

.w-\[333px\] {
  width: 333px;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[460px\] {
  width: 460px;
}

.w-\[468px\] {
  width: 468px;
}

.w-\[519px\] {
  width: 519px;
}

.w-\[553px\] {
  width: 553px;
}

.w-\[556px\] {
  width: 556px;
}

.w-\[564px\] {
  width: 564px;
}

.w-\[56px\] {
  width: 56px;
}

.w-\[578px\] {
  width: 578px;
}

.w-\[585px\] {
  width: 585px;
}

.w-\[62px\] {
  width: 62px;
}

.w-\[659px\] {
  width: 659px;
}

.w-\[682px\] {
  width: 682px;
}

.w-\[699px\] {
  width: 699px;
}

.w-\[72px\] {
  width: 72px;
}

.w-\[767px\] {
  width: 767px;
}

.w-\[96px\] {
  width: 96px;
}

.w-\[982px\] {
  width: 982px;
}

.w-\[98px\] {
  width: 98px;
}

.w-\[990px\] {
  width: 990px;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-\[0_0_auto\] {
  flex: none;
}

.grow {
  flex-grow: 1;
}

.-rotate-180 {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[11px\] {
  gap: 11px;
}

.gap-\[126px\] {
  gap: 126px;
}

.gap-\[138px\] {
  gap: 138px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[19px\] {
  gap: 19px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[21px\] {
  gap: 21px;
}

.gap-\[23px\] {
  gap: 23px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[27px\] {
  gap: 27px;
}

.gap-\[28px\] {
  gap: 28px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[33px\] {
  gap: 33px;
}

.gap-\[34px\] {
  gap: 34px;
}

.gap-\[36px\] {
  gap: 36px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[42px\] {
  gap: 42px;
}

.gap-\[468px\] {
  gap: 468px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[68px\] {
  gap: 68px;
}

.gap-\[72px\] {
  gap: 72px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-\[839px\] {
  gap: 839px;
}

.gap-\[9px\] {
  gap: 9px;
}

.self-stretch {
  align-self: stretch;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[23px\] {
  border-radius: 23px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[28\.24px\] {
  border-radius: 28.24px;
}

.rounded-\[28px\] {
  border-radius: 28px;
}

.rounded-\[35px\] {
  border-radius: 35px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[45px\] {
  border-radius: 45px;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#282828\] {
  --tw-border-opacity: 1;
  border-color: rgb(40 40 40 / var(--tw-border-opacity));
}

.border-\[\#ff4d4d\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 77 77 / var(--tw-border-opacity));
}

.border-\[\#ffffff\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#000000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[\#282828\] {
  --tw-bg-opacity: 1;
  background-color: rgb(40 40 40 / var(--tw-bg-opacity));
}

.bg-\[\#464646\] {
  --tw-bg-opacity: 1;
  background-color: rgb(70 70 70 / var(--tw-bg-opacity));
}

.bg-\[\#b8b8b8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(184 184 184 / var(--tw-bg-opacity));
}

.bg-\[\#f7f7f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 245 / var(--tw-bg-opacity));
}

.bg-\[\#ff4d4d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 77 77 / var(--tw-bg-opacity));
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white-ffffff {
  background-color: var(--white-ffffff);
}

.object-cover {
  object-fit: cover;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[24px\] {
  padding: 24px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[37px\] {
  padding-left: 37px;
  padding-right: 37px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[31px\] {
  padding-top: 31px;
  padding-bottom: 31px;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pl-\[24px\] {
  padding-left: 24px;
}

.pl-\[31px\] {
  padding-left: 31px;
}

.pr-0 {
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-TS-l {
  font-family: var(--TS-l-font-family);
}

.font-TS-m {
  font-family: var(--TS-m-font-family);
}

.font-TS-r {
  font-family: var(--TS-r-font-family);
}

.font-TS-s {
  font-family: var(--TS-s-font-family);
}

.font-h2 {
  font-family: var(--h2-font-family);
}

.font-h3 {
  font-family: var(--h3-font-family);
}

.font-h4 {
  font-family: var(--h4-font-family);
}

.font-h5 {
  font-family: var(--h5-font-family);
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[73px\] {
  font-size: 73px;
}

.text-\[76px\] {
  font-size: 76px;
}

.text-\[length\:var\(--TS-l-font-size\)\] {
  font-size: var(--TS-l-font-size);
}

.text-\[length\:var\(--TS-m-font-size\)\] {
  font-size: var(--TS-m-font-size);
}

.text-\[length\:var\(--TS-r-font-size\)\] {
  font-size: var(--TS-r-font-size);
}

.text-\[length\:var\(--TS-s-font-size\)\] {
  font-size: var(--TS-s-font-size);
}

.text-\[length\:var\(--h2-font-size\)\] {
  font-size: var(--h2-font-size);
}

.text-\[length\:var\(--h3-font-size\)\] {
  font-size: var(--h3-font-size);
}

.text-\[length\:var\(--h4-font-size\)\] {
  font-size: var(--h4-font-size);
}

.text-\[length\:var\(--h5-font-size\)\] {
  font-size: var(--h5-font-size);
}

.font-\[number\:var\(--TS-l-font-weight\)\] {
  font-weight: var(--TS-l-font-weight);
}

.font-\[number\:var\(--TS-m-font-weight\)\] {
  font-weight: var(--TS-m-font-weight);
}

.font-\[number\:var\(--TS-r-font-weight\)\] {
  font-weight: var(--TS-r-font-weight);
}

.font-\[number\:var\(--TS-s-font-weight\)\] {
  font-weight: var(--TS-s-font-weight);
}

.font-\[number\:var\(--h2-font-weight\)\] {
  font-weight: var(--h2-font-weight);
}

.font-\[number\:var\(--h3-font-weight\)\] {
  font-weight: var(--h3-font-weight);
}

.font-\[number\:var\(--h4-font-weight\)\] {
  font-weight: var(--h4-font-weight);
}

.font-\[number\:var\(--h5-font-weight\)\] {
  font-weight: var(--h5-font-weight);
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.leading-\[28\.8px\] {
  line-height: 28.8px;
}

.leading-\[87\.6px\] {
  line-height: 87.6px;
}

.leading-\[91\.2px\] {
  line-height: 91.2px;
}

.leading-\[var\(--TS-l-line-height\)\] {
  line-height: var(--TS-l-line-height);
}

.leading-\[var\(--TS-m-line-height\)\] {
  line-height: var(--TS-m-line-height);
}

.leading-\[var\(--TS-r-line-height\)\] {
  line-height: var(--TS-r-line-height);
}

.leading-\[var\(--TS-s-line-height\)\] {
  line-height: var(--TS-s-line-height);
}

.leading-\[var\(--h2-line-height\)\] {
  line-height: var(--h2-line-height);
}

.leading-\[var\(--h3-line-height\)\] {
  line-height: var(--h3-line-height);
}

.leading-\[var\(--h4-line-height\)\] {
  line-height: var(--h4-line-height);
}

.leading-\[var\(--h5-line-height\)\] {
  line-height: var(--h5-line-height);
}

.tracking-\[0\] {
  letter-spacing: 0;
}

.tracking-\[var\(--TS-l-letter-spacing\)\] {
  letter-spacing: var(--TS-l-letter-spacing);
}

.tracking-\[var\(--TS-m-letter-spacing\)\] {
  letter-spacing: var(--TS-m-letter-spacing);
}

.tracking-\[var\(--TS-r-letter-spacing\)\] {
  letter-spacing: var(--TS-r-letter-spacing);
}

.tracking-\[var\(--TS-s-letter-spacing\)\] {
  letter-spacing: var(--TS-s-letter-spacing);
}

.tracking-\[var\(--h2-letter-spacing\)\] {
  letter-spacing: var(--h2-letter-spacing);
}

.tracking-\[var\(--h3-letter-spacing\)\] {
  letter-spacing: var(--h3-letter-spacing);
}

.tracking-\[var\(--h4-letter-spacing\)\] {
  letter-spacing: var(--h4-letter-spacing);
}

.tracking-\[var\(--h5-letter-spacing\)\] {
  letter-spacing: var(--h5-letter-spacing);
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[\#4c4c4c80\] {
  color: #4c4c4c80;
}

.text-\[\#4c4c4c\] {
  --tw-text-opacity: 1;
  color: rgb(76 76 76 / var(--tw-text-opacity));
}

.text-\[\#9e9e9e\] {
  --tw-text-opacity: 1;
  color: rgb(158 158 158 / var(--tw-text-opacity));
}

.text-\[\#ff4d4d\] {
  --tw-text-opacity: 1;
  color: rgb(255 77 77 / var(--tw-text-opacity));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-primary {
  color: var(--primary);
}

.text-transparent {
  color: #0000;
}

.shadow-\[10px_20px_66px_\#0000000f\] {
  --tw-shadow: 10px 20px 66px #0000000f;
  --tw-shadow-colored: 10px 20px 66px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\[font-family\:\'Urbanist\'\,Helvetica\] {
  font-family: Urbanist, Helvetica;
}

.\[font-style\:var\(--TS-l-font-style\)\] {
  font-style: var(--TS-l-font-style);
}

.\[font-style\:var\(--TS-m-font-style\)\] {
  font-style: var(--TS-m-font-style);
}

.\[font-style\:var\(--TS-r-font-style\)\] {
  font-style: var(--TS-r-font-style);
}

.\[font-style\:var\(--TS-s-font-style\)\] {
  font-style: var(--TS-s-font-style);
}

.\[font-style\:var\(--h2-font-style\)\] {
  font-style: var(--h2-font-style);
}

.\[font-style\:var\(--h3-font-style\)\] {
  font-style: var(--h3-font-style);
}

.\[font-style\:var\(--h4-font-style\)\] {
  font-style: var(--h4-font-style);
}

.\[font-style\:var\(--h5-font-style\)\] {
  font-style: var(--h5-font-style);
}

:root {
  --black: #000;
  --h1-font-family: "Urbanist", Helvetica;
  --h1-font-size: 76px;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-letter-spacing: 0px;
  --h1-line-height: 120%;
  --h2-font-family: "Urbanist", Helvetica;
  --h2-font-size: 57px;
  --h2-font-style: normal;
  --h2-font-weight: 600;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h3-font-family: "Urbanist", Helvetica;
  --h3-font-size: 43px;
  --h3-font-style: normal;
  --h3-font-weight: 600;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h4-font-family: "Urbanist", Helvetica;
  --h4-font-size: 30px;
  --h4-font-style: normal;
  --h4-font-weight: 600;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h5-font-family: "Urbanist", Helvetica;
  --h5-font-size: 24px;
  --h5-font-style: normal;
  --h5-font-weight: 600;
  --h5-letter-spacing: 0px;
  --h5-line-height: normal;
  --primary: #ff4e4e;
  --TS-l-font-family: "Urbanist", Helvetica;
  --TS-l-font-size: 24px;
  --TS-l-font-style: normal;
  --TS-l-font-weight: 500;
  --TS-l-letter-spacing: 0px;
  --TS-l-line-height: 120%;
  --TS-m-font-family: "Urbanist", Helvetica;
  --TS-m-font-size: 20px;
  --TS-m-font-style: normal;
  --TS-m-font-weight: 500;
  --TS-m-letter-spacing: 0px;
  --TS-m-line-height: 120%;
  --TS-r-font-family: "Urbanist", Helvetica;
  --TS-r-font-size: 18px;
  --TS-r-font-style: normal;
  --TS-r-font-weight: 500;
  --TS-r-letter-spacing: 0px;
  --TS-r-line-height: 120%;
  --TS-s-font-family: "Urbanist", Helvetica;
  --TS-s-font-size: 16px;
  --TS-s-font-style: normal;
  --TS-s-font-weight: 500;
  --TS-s-letter-spacing: 0px;
  --TS-s-line-height: 120%;
  --variable-collection-accent-colors: #ffb0b0;
  --white: #fff;
  --white-ffffff: #fff;
}
/*# sourceMappingURL=index.ce17cef9.css.map */
